.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: 'Lexend', sans-serif;
  text-shadow: 0px 5px black;
  font-size: 49px;
  cursor: default;
  user-select: none;
  color: rgb(255, 235, 235);
  background: linear-gradient(
    135deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(255, 5, 176, 1) 14%,
    rgba(255, 0, 85, 1) 24%,
    rgba(255, 0, 43, 1) 34%,
    rgba(255, 102, 102, 1) 46%,
    rgba(255, 166, 0, 1) 100%,
    rgba(255, 149, 0, 1) 85%
  );
}
p {
  cursor: default;
  user-select: none;
  text-shadow: none;
}

@media (max-width: 1440px) {
  .about {
    font-size: 45px;
  }
}

@media (max-width: 1230px) {
  .about {
    font-size: 33.5px;
    text-shadow: 0 4px black;
  }
}

@media (max-width: 908px) {
  .about {
    font-size: 30px;
    text-shadow: 0 3px black;
  }
}

@media (max-width: 768px) {
  .about {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .about {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  .about {
    font-size: 23px;
    text-shadow: 0 2px black;
  }
}
